
@using PagedList.Mvc;
@model PagedList.IPagedList<Bike_Store_Api.ViewModels.OrderVM>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().order_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().required_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().shipped_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().staff_first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().store_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.required_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipped_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.store_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.order_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.order_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.order_id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "OrdersMain", new { i, search = Request.QueryString["search"] }))
