@model IEnumerable < Bike_Store_Api.ViewModels.ProductVM>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var item in Model)
        {
            <dt>
                @Html.DisplayNameFor(model => model.product_name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.product_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.model_year)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.model_year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.list_price)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.list_price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.brand_name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.brand_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.category_name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.category_name)
            </dd>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.product_id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
    </dl>
        
</div>

